<%- include('common/header'); %>
    <%- include('common/left_sidebar'); %>
        <div class="bg-white shadow-sm p-2">
            <p class="p-0 py-1 m-0 fw-bold">New Assignments</p>
            <p style="border-top:2px solid green;border-bottom:2px solid green;" class="py-3 mt-2 px-2 bg-light mb-0">
                These are the submissions that have been <a href="" class="text-danger">assigned to the editor</a>. They
                require action such as <a href="" class="text-success">reviewer invitation</a> or <a href=""
                    class="text-danger">decision</a>.</p>
            <div class="d-flex justify-content-between bg-light m-0">
                <p class="p-2 m-0">Page: 1 of 1 (Total submissions : 2)</p>
                <p class="p-2 m-0">Display 10 per page</p>
            </div>
            <div class="table-responsive">
                <table class="w-100 custom-table">
                    <thead>
                        <tr>
                            <td class="custom-table-head p-2">Action</td>
                            <td class="custom-table-head p-2 border-start text-center">Menuscript Id</td>
                            <td style="width: 30%;" class="text-center custom-table-head p-2 border-start">Title</td>
                            <td class="text-center custom-table-head p-2 border-start">Submission Date</td>
                            <td class="text-center custom-table-head p-2 border-start">Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% articles.forEach(function (article) { %>
                            <tr>
                                <td style="white-space: nowrap;">
                                    <a data-bs-toggle="modal" data-bs-target="#viewSubmission-<%= article._id %>"
                                        href="" class="p-2 w-100 d-block border-bottom" href="">View Submission</a>
                                    <a href="" class="p-2 w-100 d-block border-bottom" href="">Similarity Check</a>
                                    <a data-bs-toggle="modal" data-bs-target="#details-<%= article._id %>" href=""
                                        class="p-2 w-100 d-block border-bottom" href="">Details</a>
                                    <!-- <a class="p-2 w-100 d-block border-bottom" href="invite_reviewer">Invite
                                        Reviewers</a> -->
                                    <a data-bs-toggle="modal" data-bs-target="#submitEditorDecision" href=""
                                        class="p-2 w-100 d-block border-bottom" href="">Submit Editor Decision</a>
                                    <a href="" class="p-2 w-100 d-block" href="">Send Email</a>
                                </td>
                                <td class="border-start p-2 text-center">
                                    <%= article.manuscript_id %>
                                </td>
                                <td class="border-start p-2">
                                    <%= article.article_title %>
                                </td>
                                <td class="p-2 border-start text-center">
                                    <%= article.initial_submission_date %>
                                </td>
                                <td class="p-2 border-start text-center"><button class="btn btn-success btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#assignEditor-<%= article._id %>">Assign
                                        Editor</button></td>
                            </tr>

                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <% articles.forEach(function (article) { %>
            <div class="modal fade" id="viewSubmission-<%= article._id %>" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5 class="m-0 fw-bold">
                                <%= article.article_title %>
                            </h5>
                            <p class="m-0 font-weight-regular">
                                <% for(let i=0; i < article.authors.length; i++) { %>
                                    <%= article.authors[i].author_name; %>
                                        <% if(i !=article.authors.length - 1) {%>,
                                            <% }}; %>
                            </p>
                            <p class="m-0 pt-2 fw-bold">Abstract</p>
                            <p style="text-align: justify;" class="m-0">
                                <%= article.abstract %>
                            </p>
                            <p class="m-0 pt-2 fw-bold">Keyword</p>
                            <p class="m-0">
                                <%= article.keywords %>
                            </p>
                            <a href="<%= assets %><%= article.menuscript %>" target="_blank"
                                class="btn btn-sm btn-success mt-2"><i class="fa fa-eye"></i> View Menuscript</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- assign editor modal -->
            <div class="modal fade" id="assignEditor-<%= article._id %>" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fw-bold" id="exampleModalLabel">Assign Editor</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="py-1 text-center"><button class="btn btn-success btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#createEditor">Create New
                                    Editor</button></div>
                            <form action="/v1/dashboard/assign-editor" method="post">
                                <input type="hidden" name="article_id" value="<%= article._id %>">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Editor Name</th>
                                            <th>Email</th>
                                            <th>Select</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% editors.forEach(function (editor) { %>
                                            <tr>
                                                <td>
                                                    <%= editor.name %>
                                                </td>
                                                <td>
                                                    <%= editor.email %>
                                                </td>
                                                <td><input type="checkbox" name="editorId" id="" value="<%= editor._id %>"></td>
                                            </tr>
                                            <%})%>
                                    </tbody>
                                </table>
                                <div class="py-2 text-center">
                                    <button class="btn btn-success fw-bold" type="submit">Assign</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--Details Modal -->
            <div class="modal fade" id="details-<%= article._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div style="border:0px;" class="modal-header align-items-center py-2 m-0">
                            <h6 class="fw-bold text-start m-0 p-0">Detailed Information <span
                                    class="text-success">MANUSCRIPT ID: <%= article.manuscript_id %></span></h6>
                            <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="pb-3 bg-light">
                                <p class="border-top border-bottom p-2 text-center">
                                    <%= article.article_title %>
                                </p>
                                <p class="text-center m-0 fw-bold">SUBMISSION INFORMATION</p>
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="width: 30%;">Corresponding Author</td>
                                                <td class="bg-white">Md Selim Al Mamun </td>
                                            </tr>
                                            <tr>
                                                <td>Corresponding Author E-mail</td>
                                                <td class="bg-white"><a
                                                        href="mailto:mamun0013@gmail.com">mamun0013@gmail.com</a></td>
                                            </tr>
                                            <tr>
                                                <td>Article Type</td>
                                                <td class="bg-white">Research Article </td>
                                            </tr>
                                            <tr>
                                                <td>Section/Field</td>
                                                <td class="bg-white">Computer Science</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="p-1 m-0 fw-bold">Abstract</p>
                                <p class="bg-white p-1 m-0 border">Abstact will go here..</p>
                                <div class="table-responsive mt-3">
                                    <table class="table table-sm table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="width: 30%;">Keywords </td>
                                                <td class="bg-white">Wireless local area network; partially overlapping
                                                    channels; interference </td>
                                            </tr>
                                            <tr>
                                                <td>Initial date submission</td>
                                                <td class="bg-white">24-Dec-22 </td>
                                            </tr>
                                            <tr>
                                                <td>Editorial status date </td>
                                                <td class="bg-white">25-Dec-22 </td>
                                            </tr>
                                            <tr>
                                                <td>Current editorial status</td>
                                                <td class="bg-white">with editor </td>
                                            </tr>
                                            <tr>
                                                <td>Final decision</td>
                                                <td class="bg-white"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="text-center m-0 fw-bold">EDITOR INFORMATION</p>
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="width: 30%;">Corresponding Editor</td>
                                                <td class="bg-white">Md Selim Al Mamun </td>
                                            </tr>
                                            <tr>
                                                <td>Role</td>
                                                <td class="bg-white">Editor</td>
                                            </tr>
                                            <tr>
                                                <td>Date Assigned</td>
                                                <td class="bg-white">24-Dec-22</td>
                                            </tr>
                                            <tr>
                                                <td>Date Completed</td>
                                                <td class="bg-white"></td>
                                            </tr>
                                            <tr>
                                                <td>Elapsed Date</td>
                                                <td class="bg-white">5</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <p class="text-center m-0 fw-bold">REVIEWER INFORMATION</p>
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="width: 30%;">Name</td>
                                                <td class="">Md Selim Al Mamun </td>
                                            </tr>
                                            <tr>
                                                <td>Review Status</td>
                                                <td class="bg-white"><span class="text-danger">Agreed to review</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Date Reviewer Invited</td>
                                                <td class="bg-white">24-Dec-22</td>
                                            </tr>
                                            <tr>
                                                <td>Date Reviewer Agreed</td>
                                                <td class="bg-white">24-Dec-22</td>
                                            </tr>
                                            <tr>
                                                <td>Date Review Due </td>
                                                <td class="bg-white">12/30/2022 <a href="">(CHANGE)</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-sm table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="width: 30%;">Name</td>
                                                <td class="">Md Selim Al Mamun </td>
                                            </tr>
                                            <tr>
                                                <td>Review Status</td>
                                                <td class="bg-white"><span class="text-danger">Agreed to review</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Date Reviewer Invited</td>
                                                <td class="bg-white">24-Dec-22</td>
                                            </tr>
                                            <tr>
                                                <td>Date Reviewer Agreed</td>
                                                <td class="bg-white">24-Dec-22</td>
                                            </tr>
                                            <tr>
                                                <td>Date Review Due </td>
                                                <td class="bg-white">12/30/2022 <a data-toggle="modal"
                                                        data-target="#reviewDue" href="">(CHANGE)</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-sm table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="width: 30%;">Name</td>
                                                <td class="">Md Selim Al Mamun </td>
                                            </tr>
                                            <tr>
                                                <td>Review Status</td>
                                                <td class="bg-white"><span class="text-danger">Agreed to review</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Date Reviewer Invited</td>
                                                <td class="bg-white">24-Dec-22</td>
                                            </tr>
                                            <tr>
                                                <td>Date Reviewer Agreed</td>
                                                <td class="bg-white">24-Dec-22</td>
                                            </tr>
                                            <tr>
                                                <td>Date Review Due </td>
                                                <td class="bg-white">12/30/2022 <a data-bs-toggle="modal"
                                                        data-bs-target="#reviewDue" href="">(CHANGE)</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                                <p class="text-center m-0 fw-bold">PUBLICATIONS TASKS</p>
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="width: 30%;">Target Online Publication Date</td>
                                                <td class="bg-white">15-Feb-23</td>
                                            </tr>
                                            <tr>
                                                <td>Target Number of Pages </td>
                                                <td class="bg-white">10</td>
                                            </tr>
                                            <tr>
                                                <td>Target Publication Date </td>
                                                <td class="bg-white">15-Mar-23 </td>
                                            </tr>
                                            <tr>
                                                <td>Target Volume </td>
                                                <td class="bg-white">2</td>
                                            </tr>
                                            <tr>
                                                <td>Target Issue </td>
                                                <td class="bg-white">1</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="p-1 m-0 fw-bold">Publication Note</p>
                                <p class="bg-white p-1 m-0 border">Publication note will go here..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <% }); %>

                <!-- create editor modal -->
                <div class="modal fade" id="createEditor" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-md shadow">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fw-bold" id="exampleModalLabel">Create Editor</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/v1/user" method="post">
                                    <input type="hidden" name="role" value="editor">
                                    <input type="hidden" name="journal_id" value="<%= journal_id %>">
                                    <input class="form-control my-1" type="text" name="name" id=""
                                        placeholder="Editor name" required>
                                    <input class="form-control my-1" type="email" name="email" id=""
                                        placeholder="Editor Email" required>
                                    <input class="form-control my-1" type="password" name="password" id=""
                                        placeholder="Password" required>

                                    <div class="py-2">
                                        <button class="btn btn-success" type="submit">Submit</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Invite Reviewer Modal -->
                <div class="modal fade" id="submitEditorDecision" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header align-items-center">
                                <h6 class="fw-bold text-start m-0">Decisio for <span class="text-success m-0">MANUSCRIPT
                                        ID:
                                        JN200001</span></h6>
                                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <label class="form-label">Accept or Deny</label>
                                    <select class="form-select form-select-sm mb-3" aria-label="Default select example">
                                        <option selected>Accept</option>
                                        <option value="1">Deny</option>
                                    </select>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Add comment</label>
                                        <input type="text" class="form-control form-control-sm" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('common/footer'); %>