<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('components/includes'); %>
        <title>journal</title>
</head>

<body>
    <%- include('components/navbar-2'); %>
        <%- include('components/banner'); %>
            <!-- body -->
            <div class="container-fluid p-4 bg-light">
                <div class="mt-0">
                    <div class="row">
                        <div class="col-md-3 d-md-block d-none">
                            <div class="bg-white shadow-sm p-3 mb-3">
                                <!-- <h5 class="text-start">jkkniu Official Journal</h5> -->
                                <a style="background-color: #001C54;color:white; border:1px solid #001C54; font-size: 14px;"
                                    href="" class="btn btn-outline-success w-100 p-1 submit-to-btn">Submit to JOF</a>
                                <a href="" style="font-size: 14px;" class="btn btn-success w-100 mt-2 p-1">Review for
                                    JOF</a>
                                <div class="mt-2 d-flex justify-content-between">
                                    <a class="btn btn-outline-success py-1 px-2"><i class="icon-twitter"></i></a><a
                                        class="btn btn-outline-success py-1 ms-1"><i class="icon-facebook"></i></a><a
                                        style="font-size: 14px;"
                                        class="btn btn-outline-success py-1 ms-1 w-100">Share</i></a>
                                </div>
                            </div>
                            <%- include('components/left_journal_menu_card'); %>
                                <%- include('components/new_anouncement_card'); %>
                        </div>
                        <div class="col-md-9">
                            <!-- <h3 style="background-color: rgba(0,0,0,.02);" class="fs-4 text-center article-title fw-bold border px-2 py-3">Journal of Governance and Development</h3>
                    <div class="px-2 py-3 border"> -->
                            <div class="bg-light">
                                <div>
                                    <div>
                                        <div class="row row-cols-1 row-cols-md-1 g-2">
                                            <div class="col">
                                                <div style="border-radius: 0; border:0px solid red;"
                                                    class="card p-2 h-100 card-hover shadow-sm">
                                                    <div class="d-flex">
                                                        <span
                                                            style="background-color: #001c54; color:white; font-size:14px;padding:2px;"
                                                            class="fw-700"><i class="icon-unlock"></i> Open
                                                            Access</span>
                                                        <span
                                                            style="background-color: gray; color:white; font-size:14px;padding:2px;"
                                                            class="fw-700 ms-1">Research Article</span>
                                                        <span
                                                            style="background-color: white; color:black; font-size:14px;padding:2px;"
                                                            class="fw-700 ms-1">November 2022</span>
                                                    </div>
                                                    <!-- <span style="background-color: white; color:black; font-size:14px;padding:2px;" class="fw-700 ms-1">November 2022</span> -->
                                                    <h4 style="color: brown;" class="card-title fw-bold mt-3">A
                                                        descriptive analysis of collective intelligence publications
                                                        since 2000, and the emerging influence of artificial
                                                        intelligence</h4>
                                                    <p>Authors: <span class="text-primary fst-italic">F. Lastname, F.
                                                            Lastname</span></p>
                                                    <p class="fst-italic fw-normal">Journal of Computing, Volume 01,
                                                        Issue 1, Pages 1–9, https://doi.org/10.1145/3569484</p>
                                                    <p class="fw-bolder">Received: 10 January 2023 / Revised: 20 January
                                                        2023 / Received: 10 January 2023 / Accepted: 30 January 2023
                                                        /Published: 10 January 2023</p>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div class="w-100 bg-light px-1 py-3">
                                                            <div class="row g-2 text-center">
                                                                <div class="col-md-2 col-6">
                                                                    <div
                                                                        class="d-flex bg-white align-items-center justify-content-center shadow-sm h-100">
                                                                        <button style="border: 0px solid gray;"
                                                                            class="p-1 rounded"><img
                                                                                style="height:25px;"
                                                                                src="https://www.techscience.com/static/images/bb2.png?t=20230215">
                                                                            <a href="">Download PDF</a></button>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6 col-md-2">
                                                                    <div
                                                                        class=" d-flex bg-white align-items-center justify-content-center shadow-sm py-2 h-100 fw-bold">
                                                                        <div>1
                                                                            <p style="color: brown;"
                                                                                class="m-0 p-0 d-flex align-items-center">
                                                                                <i class="icon-download me-1"></i>
                                                                                Download
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6 col-md-2">
                                                                    <div
                                                                        class="fw-bold bg-white d-flex align-items-center justify-content-center shadow-sm py-2 h-100">
                                                                        <div>5
                                                                            <p style="color: brown;"
                                                                                class="m-0 p-0 d-flex align-items-center">
                                                                                <i class="icon-calendar me-1"></i>
                                                                                Citation
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2 col-6">
                                                                    <div
                                                                        class="fw-bold bg-white d-flex align-items-center justify-content-center shadow-sm py-2 h-100">
                                                                        <div>5
                                                                            <p style="color: brown;"
                                                                                class="m-0 p-0 d-flex align-items-center">
                                                                                <i class="icon-eye me-1"></i> View
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1 col-3">
                                                                    <div
                                                                        class="article-details-share-icon-container d-flex align-items-center h-100 justify-content-center shadow-sm py-2">
                                                                        <i class="icon-facebook fs-4"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1 col-3">
                                                                    <div
                                                                        class="article-details-share-icon-container d-flex align-items-center h-100 justify-content-center shadow-sm py-2">
                                                                        <i class="icon-linkedin fs-4"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1 col-3">
                                                                    <div
                                                                        class="article-details-share-icon-container d-flex align-items-center h-100 justify-content-center shadow-sm py-2">
                                                                        <i class="icon-thumbs-o-up fs-4"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1 col-3">
                                                                    <div
                                                                        class="article-details-share-icon-container d-flex align-items-center h-100 justify-content-center shadow-sm py-2">
                                                                        <i class="icon-share2 fs-4"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="border mt-3 p-1">
                                                        <div class="row align-items-center">
                                                            <div class="col-md-11 col-12">
                                                                <div class="d-md-none d-block">
                                                                    <div
                                                                        class="d-flex justify-content-between align-items-center">
                                                                        <h6 class="fw-bold">Export citation</h6>
                                                                        <h6 style="color:brown;" class="fw-bold">Copy
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                                <h6 class="fw-bold d-md-block d-none">Export citation
                                                                </h6>
                                                                <small class="fst-italic text-primary">Zhao Y, Fanello S
                                                                    and Guo T. Multi-Camera Lighting Estimation for
                                                                    Photorealistic Front-Facing Mobile Augmented
                                                                    Reality. Proceedings of the 24th International
                                                                    Workshop on Mobile Computing Systems and
                                                                    Applications. (68-73).</small>
                                                            </div>
                                                            <div class="col-md-1 col-12 d-none d-md-block border-start">
                                                                <p class="text-center fw-bold">Copy</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h4 style="background-color:#ddd" class="text-start p-2 mt-2 mb-0">
                                                        Abstract</h4>
                                                    <p style="text-align: justify;" class="p-1 bg-light">Physical
                                                        sensors, intelligent sensors, and output recommendations are all
                                                        examples of smart health technology that can be used to monitor
                                                        patients’ health and change their behavior. Smart health is an
                                                        Internet-of-Things (IoT)-aware network and sensing
                                                        infrastructure that provides real-time, intelligent, and
                                                        ubiquitous healthcare services. Because of the rapid development
                                                        of cloud computing, as well as related technologies such as fog
                                                        computing, smart health research is progressively moving in the
                                                        right direction. Cloud, fog computing, IoT sensors, blockchain,
                                                        privacy and security, and other related technologies have been
                                                        the focus of smart health research in recent years. At the
                                                        moment, the focus in cloud and smart health research is on how
                                                        to use the cloud to solve the problem of enormous health data
                                                        and enhance service performance, including cloud storage,
                                                        retrieval, and calculation of health big data. This article
                                                        reviews state-of-the-art edge computing methods that has shifted
                                                        to the collection, transmission, and calculation of health data,
                                                        which includes various sensors and wearable devices used to
                                                        collect health data, various wireless sensor technologies, and
                                                        how to process health data and improve edge performance, among
                                                        other things. Finally, the typical smart health application
                                                        cases, blockchain’s application in smart health, and related
                                                        privacy and security issues were reviewed, as well as future
                                                        difficulties and potential for smart health services. The
                                                        comparative analysis provides a reference for the the mobile
                                                        edge computing in healthcare systems.</p>
                                                    <hr>
                                                    <h6 class="mt-2 fw-bold">Keywords</h6>
                                                    <p>IoT; mobile-edge computing; cloud computing; e-health</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <%- include('components/footer'); %>
                <!-- body -->
                <script src="js/jquery-3.3.1.min.js"></script>
                <!-- <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script> -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                    crossorigin="anonymous"></script>
                <script src="js/jquery.sticky.js"></script>
                <script src="js/main.js"></script>
</body>

</html>