<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('components/includes'); %>
        <title>journal</title>
</head>

<body>
    <%- include('components/navbar-2'); %>
        <%- include('components/banner'); %>
            <!-- body -->
            <div class="container-fluid p-4 bg-light">
                <div class="mt-0">
                    <div class="row">
                        <div class="col-md-3 d-none d-md-block">
                            <div class="bg-white shadow-sm p-3 mb-3">
                                <!-- <h5 class="text-start">jkkniu Official Journal</h5> -->
                                <a style="background-color: #001C54;color:white; border:1px solid #001C54; font-size: 14px;"
                                    href="" class="btn btn-outline-success w-100 p-1 submit-to-btn">Submit to JOF</a>
                                <a href="" style="font-size: 14px;" class="btn btn-success w-100 mt-2 p-1">Review for
                                    JOF</a>
                                <div class="mt-2 d-flex justify-content-between">
                                    <a class="btn btn-outline-success py-1 px-2"><i class="icon-twitter"></i></a><a
                                        class="btn btn-outline-success py-1 ms-1"><i class="icon-facebook"></i></a><a
                                        style="font-size: 14px;"
                                        class="btn btn-outline-success py-1 ms-1 w-100">Share</i></a>
                                </div>
                            </div>
                            <%- include('components/left_journal_menu_card'); %>
                                <%- include('components/new_anouncement_card'); %>
                        </div>
                        <div class="col-md-9">
                            <!-- <h3 style="background-color: rgba(0,0,0,.02);" class="fs-4 text-center article-title fw-bold border px-2 py-3">Journal of Governance and Development</h3>
                    <div class="px-2 py-3 border"> -->
                            <div class="bg-light">
                                <div>
                                    <div>
                                        <div class="row row-cols-1 row-cols-md-1 g-2">
                                            <div class="col mb-3">
                                                <div style="border-radius: 0; border:0px solid red;"
                                                    class="card h-100 card-hover shadow-sm">
                                                    <h4 style="background-color:#001C54"
                                                        class="text-start py-2 px-3 shadow-sm m-0 text-white d-none d-md-block">
                                                        Volume 1 ·
                                                        Issue 1 · February 2023</h4>
                                                    <p style="background-color:#001C54"
                                                        class="text-start py-2 px-3 shadow-sm m-0 text-white d-md-none d-block">
                                                        Volume 1 ·
                                                        Issue 1 · February 2023</p>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-2 col-4 h-100">
                                                                <img style="width:100%" alt=""
                                                                    src="static/images/Governance.png">
                                                            </div>
                                                            <div class="col-md-10 col-8">
                                                                <div class="row align-items-center h-100">
                                                                    <div class="col-md-7 col-12">
                                                                        <table class="table table-sm m-0 table-sm">
                                                                            <tr
                                                                                style="border-bottom: 1px solid transparent;">
                                                                                <td>
                                                                                    <h6 class="fw-bold">Editor:</h6>
                                                                                </td>
                                                                                <td>
                                                                                    <h6>Selim Al Mamun</h6>
                                                                                </td>
                                                                            </tr>
                                                                            <tr
                                                                                style="border-bottom: 1px solid transparent;">
                                                                                <td>
                                                                                    <h6 class="fw-bold">Publisher:</h6>
                                                                                </td>
                                                                                <td>
                                                                                    <h6>ASQP</h6>
                                                                                </td>
                                                                            </tr>
                                                                            <tr
                                                                                style="border-bottom: 1px solid transparent;">
                                                                                <td>
                                                                                    <h6 class="fw-bold">ISSN:</h6>
                                                                                </td>
                                                                                <td>
                                                                                    <h6>2769-6472</h6>
                                                                                </td>
                                                                            </tr>
                                                                            <tr
                                                                                style="border-bottom: 1px solid transparent;">
                                                                                <td>
                                                                                    <h6 class="fw-bold">EISSN:</h6>
                                                                                </td>
                                                                                <td>
                                                                                    <h6>2769-6472</h6>
                                                                                </td>
                                                                            </tr>
                                                                            <tr
                                                                                style="border-bottom: 1px solid transparent;">
                                                                                <td>
                                                                                    <h6 class="fw-bold">FREQUENCY:</h6>
                                                                                </td>
                                                                                <td>
                                                                                    <h6>27</h6>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                    <div
                                                                        class="col-md-5 d-md-block d-none border-start">
                                                                        <div class="bg-white p-3">
                                                                            <!-- <h5 class="text-start">jkkniu Official Journal</h5> -->
                                                                            <a style="background-color: #001C54;color:white; border:1px solid #001C54; font-size: 14px;"
                                                                                href=""
                                                                                class="btn btn-outline-success w-100 p-1 submit-to-btn">Submit
                                                                                to JOF</a>
                                                                            <a href="" style="font-size: 14px;"
                                                                                class="btn btn-success w-100 mt-2 p-1">Review
                                                                                for JOF</a>
                                                                            <div
                                                                                class="mt-2 d-flex justify-content-between">
                                                                                <a
                                                                                    class="btn btn-outline-success py-1 px-2"><i
                                                                                        class="icon-twitter"></i></a><a
                                                                                    class="btn btn-outline-success py-1 ms-1"><i
                                                                                        class="icon-facebook"></i></a><a
                                                                                    style="font-size: 14px;"
                                                                                    class="btn btn-outline-success py-1 ms-1 w-100">Share</i></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col d-md-none d-block mb-3">
                                                <div class="bg-white shadow-sm p-3">
                                                    <!-- <h5 class="text-start">jkkniu Official Journal</h5> -->
                                                    <a style="background-color: #001C54;color:white; border:1px solid #001C54; font-size: 14px;"
                                                        href=""
                                                        class="btn btn-outline-success w-100 p-1 submit-to-btn">Submit
                                                        to JOF</a>
                                                    <a href="" style="font-size: 14px;"
                                                        class="btn btn-success w-100 mt-2 p-1">Review for
                                                        JOF</a>
                                                    <div class="mt-2 d-flex justify-content-between">
                                                        <a class="btn btn-outline-success py-1 px-2"><i
                                                                class="icon-twitter"></i></a><a
                                                            class="btn btn-outline-success py-1 ms-1"><i
                                                                class="icon-facebook"></i></a><a
                                                            style="font-size: 14px;"
                                                            class="btn btn-outline-success py-1 ms-1 w-100">Share</i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div style="border-radius: 0; border:0px solid red;"
                                                    class="card h-100 card-hover shadow-sm">
                                                    <div class="card-body">
                                                        <div class="row align-items-center">
                                                            <div class="col-md-12">
                                                                <span
                                                                    style="background-color: #001c54; color:white; font-size:14px;padding:2px;"
                                                                    class="fw-700"><i class="icon-unlock"></i>
                                                                    Open
                                                                    Access</span>
                                                                <span
                                                                    style="background-color: gray; color:white; font-size:14px;padding:2px;"
                                                                    class="fw-700">Research Article</span>
                                                                <span
                                                                    style="background-color: white; color:black; font-size:14px;padding:2px;"
                                                                    class="fw-700 bg-light">November
                                                                    2022</span>
                                                                <h5 style="color: brown;"
                                                                    class="card-title fs-6 fw-bold mt-2"> <a
                                                                        class="article-card-heading"
                                                                        style="color: inherit;"
                                                                        href="article-details">Magnetic
                                                                        mitohormesis: A non-invasive therapy for
                                                                        inflammatory disorders?</a></h5>
                                                                <p style="color: rgba(0,0,0,.8); text-transform:uppercase;font-size: 14px;"
                                                                    class="pt-1 pb-1 m-0 d-md-none d-block"><i
                                                                        class="icon-user-circle"></i> Azizur
                                                                    Rahman, <a href="">+2</a>
                                                                </p>

                                                                <p style="color: rgba(0,0,0,.8); text-transform:uppercase;font-size: 14px;"
                                                                    class="pt-1 pb-1 m-0 d-md-block d-none"><i
                                                                        class="icon-user-circle"></i> Azizur
                                                                    Rahman,
                                                                    <i class="icon-user-circle"></i>
                                                                    Gazi Arafat
                                                                    Uz-Zaman Markony, <i class="icon-user-circle"></i>
                                                                    Tanjil Ahmed
                                                                </p>

                                                                <p style="color: rgba(0,0,0,.8); font-size: 14px;"
                                                                    class="m-0 d-md-block d-none">BIOCELL,
                                                                    Vol.47, No.2, pp.
                                                                    239-244,
                                                                    2023, DOI:10.32604/biocell.2023.025357</p>
                                                                <p style="text-align: justify;"
                                                                    class="p-0 m-0 d-md-block d-none">
                                                                    <a href="">Abstract</a> An organism’s
                                                                    survival
                                                                    depends on its ability to adapt to stress.
                                                                    Mitochondria are the cellular integrators of
                                                                    environmental stressors that ultimately
                                                                    translate
                                                                    their responses at the organismal level, and
                                                                    are
                                                                    thus central to the process whereby
                                                                    organisms adapt
                                                                    to their respective environments.
                                                                    Mitochondria
                                                                    produce molecular energy via oxidative <span
                                                                        style="color: brown;"><a style="color:inherit;"
                                                                            href=""> more
                                                                            <i class="icon-arrow-right"></i></a></span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer bg-white d-md-block d-none">
                                                        <i class="icon-eye"></i><span> View</span><span
                                                            style="color: brown;"> 100</span><i
                                                            class="icon-download ms-3"></i><span>
                                                            Download</span><span style="color: brown;">
                                                            50</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div style="border-radius: 0; border:0px solid red;"
                                                    class="card h-100 card-hover shadow-sm">
                                                    <div class="card-body">
                                                        <div class="row align-items-center">
                                                            <div class="col-md-12">
                                                                <span
                                                                    style="background-color: #001c54; color:white; font-size:14px;padding:2px;"
                                                                    class="fw-700"><i class="icon-unlock"></i>
                                                                    Open
                                                                    Access</span>
                                                                <span
                                                                    style="background-color: gray; color:white; font-size:14px;padding:2px;"
                                                                    class="fw-700">Research Article</span>
                                                                <span
                                                                    style="background-color: white; color:black; font-size:14px;padding:2px;"
                                                                    class="fw-700 bg-light">November
                                                                    2022</span>
                                                                <h5 style="color: brown;"
                                                                    class="card-title fs-6 fw-bold mt-2"> <a
                                                                        class="article-card-heading"
                                                                        style="color: inherit;"
                                                                        href="article-details">Magnetic
                                                                        mitohormesis: A non-invasive therapy for
                                                                        inflammatory disorders?</a></h5>
                                                                <p style="color: rgba(0,0,0,.8); text-transform:uppercase;font-size: 14px;"
                                                                    class="pt-1 pb-1 m-0 d-md-none d-block"><i
                                                                        class="icon-user-circle"></i> Azizur
                                                                    Rahman, <a href="">+2</a>
                                                                </p>

                                                                <p style="color: rgba(0,0,0,.8); text-transform:uppercase;font-size: 14px;"
                                                                    class="pt-1 pb-1 m-0 d-md-block d-none"><i
                                                                        class="icon-user-circle"></i> Azizur
                                                                    Rahman,
                                                                    <i class="icon-user-circle"></i>
                                                                    Gazi Arafat
                                                                    Uz-Zaman Markony, <i class="icon-user-circle"></i>
                                                                    Tanjil Ahmed
                                                                </p>

                                                                <p style="color: rgba(0,0,0,.8); font-size: 14px;"
                                                                    class="m-0 d-md-block d-none">BIOCELL,
                                                                    Vol.47, No.2, pp.
                                                                    239-244,
                                                                    2023, DOI:10.32604/biocell.2023.025357</p>
                                                                <p style="text-align: justify;"
                                                                    class="p-0 m-0 d-md-block d-none">
                                                                    <a href="">Abstract</a> An organism’s
                                                                    survival
                                                                    depends on its ability to adapt to stress.
                                                                    Mitochondria are the cellular integrators of
                                                                    environmental stressors that ultimately
                                                                    translate
                                                                    their responses at the organismal level, and
                                                                    are
                                                                    thus central to the process whereby
                                                                    organisms adapt
                                                                    to their respective environments.
                                                                    Mitochondria
                                                                    produce molecular energy via oxidative <span
                                                                        style="color: brown;"><a style="color:inherit;"
                                                                            href=""> more
                                                                            <i class="icon-arrow-right"></i></a></span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer bg-white d-md-block d-none">
                                                        <i class="icon-eye"></i><span> View</span><span
                                                            style="color: brown;"> 100</span><i
                                                            class="icon-download ms-3"></i><span>
                                                            Download</span><span style="color: brown;">
                                                            50</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <%- include('components/footer'); %>
</body>

</html>