<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('components/includes'); %>
        <title>journal</title>
</head>

<body>
    <%- include('components/navbar-2'); %>
        <%- include('components/banner'); %>
            <!-- body -->
            <div class="container-fluid p-4 bg-light">
                <div class="mt-0">
                    <div class="row">
                        <div class="col-md-3 d-md-block d-none">
                            <div class="bg-white shadow-sm p-3 mb-3">
                                <!-- <h5 class="text-start">jkkniu Official Journal</h5> -->
                                <a style="background-color: #001C54;color:white; border:1px solid #001C54; font-size: 14px;"
                                    href="" class="btn btn-outline-success w-100 p-1 submit-to-btn">Submit to JOF</a>
                                <a href="" style="font-size: 14px;" class="btn btn-success w-100 mt-2 p-1">Review for
                                    JOF</a>
                                <div class="mt-2 d-flex justify-content-between">
                                    <a class="btn btn-outline-success py-1 px-2"><i class="icon-twitter"></i></a><a
                                        class="btn btn-outline-success py-1 ms-1"><i class="icon-facebook"></i></a><a
                                        style="font-size: 14px;"
                                        class="btn btn-outline-success py-1 ms-1 w-100">Share</i></a>
                                </div>
                            </div>
                            <%- include('components/left_journal_menu_card'); %>
                                <%- include('components/new_anouncement_card'); %>
                        </div>
                        <div class="col-md-9">
                            <h4 style="background-color:#001C54" class="text-start text-white p-2 m-0">Editorial Board
                            </h4>
                            <div class="px-2 py-2 shadow-sm bg-white">
                                <div class="row">
                                    <div class="col-md-12 border-left">
                                        <div class="mb-4 mt-2">
                                            <h6 style="color:brown;" class="fw-bold">Editor-in-chief</h6>
                                            <div class="p-2 border d-flex align-items-center">
                                                <img class="rounded-circle" alt="" style="width:100px; height:100px;"
                                                    src="static/images/editor1.jpg">
                                                <div class="px-3">
                                                    <p style="color: black;" class="fw-bold m-0 pb-3">Azizur Rahman</p>
                                                    <p class="m-0" style="color: black;">Affilation: Head Deptartment of
                                                        Public Administration and Governance Studies</p>
                                                    <p class="m-0" style="color: black;">Domain of research: Social
                                                        Science</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <h6 style="color:brown;" class="fw-bold">Associate Editors</h6>
                                            <div class="p-2 border d-flex align-items-center">
                                                <img alt="" class="rounded-circle" alt=""
                                                    style="width:100px; height:100px;"" src="
                                                    static/images/editor2.jpg">
                                                <div class="px-3 ms-1">
                                                    <p class="m-0 pb-3 fw-bold" style="color: black;">Gazi Arafat
                                                        Uz-Zaman Markony</p>
                                                    <p class="m-0" style="color: black;">Affilation: Assistant Professor
                                                        Deptartment of Public Administration and Governance Studies</p>
                                                    <p class="m-0" style="color: black;">Domain of research: Social
                                                        Science</p>
                                                </div>
                                            </div>
                                            <div class="p-2 border d-flex align-items-center">
                                                <img alt="" class="rounded-circle" alt=""
                                                    style="width:100px; height:100px;" src="static/images/editor3.jpg">
                                                <div class="px-3">
                                                    <p style="color: black;" class="fw-bold m-0 pb-3">Tanjil Ahmed</p>
                                                    <p class="m-0" style="color: black;">Affilation: Assistant Professor
                                                        Deptartment of Public Administration and Governance Studies</p>
                                                    <p class="m-0" style="color: black;">Domain of research: Social
                                                        Science</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <h6 style="color:brown;" class="fw-bold">Editors</h6>
                                            <div class="p-2 border d-flex align-items-center">
                                                <img alt="" class="rounded-circle" alt=""
                                                    style="width:100px; height:100px;" src="static/images/editor4.jpg">
                                                <div class="px-3">
                                                    <p style="color: black;" class="fw-bold m-0 pb-3">
                                                        Shanjay Kumar Mukharjee</p>
                                                    <p class="m-0" style="color: black;">Affilation: Assistant Professor
                                                        Deptartment of Public Administration and Governance Studies</p>
                                                    <p class="m-0" style="color: black;">Domain of research: Social
                                                        Science</p>
                                                </div>
                                            </div>
                                            <div class="p-2 border d-flex align-items-center">
                                                <img alt="" class="rounded-circle" alt=""
                                                    style="width:100px; height:100px;" src="static/images/editor5.jpg">
                                                <div class="px-3">
                                                    <p style="color: black;" class="fw-bold m-0 pb-3">Md. Nure Alam</p>
                                                    <p class="m-0" style="color: black;">Affilation: Assistant Professor
                                                        Deptartment of Public Administration and Governance Studies</p>
                                                    <p class="m-0" style="color: black;">Domain of research: Social
                                                        Science</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('components/footer'); %>
</body>

</html>