<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('components/includes'); %>
        <title>journal</title>
</head>

<body>
    <%- include('components/navbar-2'); %>
        <%- include('components/banner'); %>
            <!-- body -->
            <div class="container-fluid bg-light p-4">
                <div class="mt-0">
                    <div class="row">
                        <div class="col-md-3 d-md-block d-none">
                            <div class="bg-white shadow-sm p-3 mb-3">
                                <!-- <h5 class="text-start">jkkniu Official Journal</h5> -->
                                <a style="background-color: #001C54;color:white; border:1px solid #001C54; font-size: 14px;"
                                    href="" class="btn btn-outline-success w-100 p-1 submit-to-btn">Submit to JOF</a>
                                <a href="" style="font-size: 14px;" class="btn btn-success w-100 mt-2 p-1">Review for
                                    JOF</a>
                                <div class="mt-2 d-flex justify-content-between">
                                    <a class="btn btn-outline-success py-1 px-2"><i class="icon-twitter"></i></a><a
                                        class="btn btn-outline-success py-1 ms-1"><i class="icon-facebook"></i></a><a
                                        style="font-size: 14px;"
                                        class="btn btn-outline-success py-1 ms-1 w-100">Share</i></a>
                                </div>
                            </div>
                            <%- include('components/left_journal_menu_card'); %>
                                <%- include('components/new_anouncement_card'); %>
                        </div>
                        <div class="col-md-9">
                            <!-- <h3 style="background-color: rgba(0,0,0,.02);" class="fs-4 text-center article-title fw-bold border px-2 py-3">Journal of Governance and Development</h3> -->
                            <h4 style="background-color:#001C54" class="text-start text-white p-2 m-0">All volumes and
                                Issues
                            </h4>
                            <div class="px-2 py-2 bg-white shadow-sm">
                                <div class="row">
                                    <div class="col-md-12">
                                    </div>
                                    <div class="col-md-12 border-left">
                                        <h5 style="border-bottom: 2px solid brown;"
                                            class="fw-bold bg-light text-start py-2">
                                            2022</h5>
                                        <div>
                                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                                <div class="col">
                                                    <div class="card rounded-0 h-100">
                                                        <div class="row g-0 align-items-center">
                                                            <div class="col-4 h-100">
                                                                <img src="static/images/Governance.png"
                                                                    class="card-img-top rounded-0 h-100" alt="...">
                                                            </div>
                                                            <div class="col-8">
                                                                <div class="card-body text-start">
                                                                    <h6><span class="fw-bold">Editor: </span>Md. Selim
                                                                        Al Mamun
                                                                    </h6>
                                                                    <h6 class="card-title">Vol. 23, Iss. 1</h6>
                                                                    <p class="m-0">January-1 2023</p>
                                                                    <a style="font-size:14px; color:brown"
                                                                        class="m-0 p-0" href="#">Table of Content</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card rounded-0 h-100">
                                                        <div class="row g-0 align-items-center">
                                                            <div class="col-4 h-100">
                                                                <img src="static/images/Governance.png"
                                                                    class="card-img-top rounded-0 h-100" alt="...">
                                                            </div>
                                                            <div class="col-8">
                                                                <div class="card-body text-start">
                                                                    <h6><span class="fw-bold">Editor: </span>Md. Selim
                                                                        Al Mamun
                                                                    </h6>
                                                                    <h6 class="card-title">Vol. 23, Iss. 1</h6>
                                                                    <p class="m-0">January-1 2023</p>
                                                                    <a style="font-size:14px; color:brown"
                                                                        class="m-0 p-0" href="#">Table of Content</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 style="border-bottom: 2px solid brown;"
                                            class="fw-bold bg-light text-start py-2">
                                            2021</h5>
                                        <div>
                                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                                <div class="col">
                                                    <div class="card rounded-0 h-100">
                                                        <div class="row g-0 align-items-center">
                                                            <div class="col-4 h-100">
                                                                <img src="static/images/Governance.png"
                                                                    class="card-img-top rounded-0 h-100" alt="...">
                                                            </div>
                                                            <div class="col-8">
                                                                <div class="card-body text-start">
                                                                    <h6><span class="fw-bold">Editor: </span>Md. Selim
                                                                        Al Mamun
                                                                    </h6>
                                                                    <h6 class="card-title">Vol. 23, Iss. 1</h6>
                                                                    <p class="m-0">January-1 2023</p>
                                                                    <a style="font-size:14px; color:brown"
                                                                        class="m-0 p-0" href="#">Table of Content</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card rounded-0 h-100">
                                                        <div class="row g-0 align-items-center">
                                                            <div class="col-4 h-100">
                                                                <img src="static/images/Governance.png"
                                                                    class="card-img-top rounded-0 h-100" alt="...">
                                                            </div>
                                                            <div class="col-8">
                                                                <div class="card-body text-start">
                                                                    <h6><span class="fw-bold">Editor: </span>Md. Selim
                                                                        Al Mamun
                                                                    </h6>
                                                                    <h6 class="card-title">Vol. 23, Iss. 1</h6>
                                                                    <p class="m-0">January-1 2023</p>
                                                                    <a style="font-size:14px; color:brown"
                                                                        class="m-0 p-0" href="#">Table of Content</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('components/footer'); %>
</body>

</html>